.footer {
  background-color: rgb(125, 125, 125);
}

.Iconos-FontAwesome {
  font-size: x-large;
  margin-bottom: 0%;
}

.Icono-Youtube-footer {
  margin-left: 30px;
  margin-right: 30px;
}

.Icono-Github-footer {
  margin-left: 30px;
  margin-right: 30px;
}
