<div class="row border border-primary">
  <div class="col-6">ID de la Vivienda:</div>
  <div class="col-6"> {{vivienda.idVivienda}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Propietario:</div>
  <div class="col-6"> {{vivienda.propietario}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Provincia:</div>
  <div class="col-6"> {{vivienda.provincia}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Ciudad:</div>
  <div class="col-6"> {{vivienda.ciudad}} </div>
</div>

<br>
<div class="row border border-primary">
  <div class="col-6">Propietario:</div>
  <div class="col-6"> {{vivienda.direccion}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Codigo Postal:</div>
  <div class="col-6"> {{vivienda.codigoPostal}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Referencia Catastral:</div>
  <div class="col-6"> {{vivienda.idReferenciaCatastral}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">Superficie:</div>
  <div class="col-6"> {{vivienda.superficie}} m<sup>2</sup></div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">habitaciones:</div>
  <div class="col-6"> {{vivienda.habitaciones}} </div>
</div>
<br>
<div class="row border border-primary">
  <div class="col-6">baños:</div>
  <div class="col-6"> {{vivienda.banyos}} </div>
</div>
<br>



<button type="button" class="btn btn-danger"  (click)="eliminar()">Eliminar</button>
