<p>ofertas works!</p>
&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/ofertas/nueva-oferta/1" class="btn btn-success">Añadir nueva Oferta de Alquiler</a>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/ofertas/nueva-oferta/2" class="btn btn-success">Añadir nueva Oferta de venta</a>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;<h2>&nbsp;&nbsp;&nbsp;&nbsp;OFERTAS</h2>
<!-- <header>
  <a routerLink="ver" class="button">ANALITICAS</a>
  <a routerLink="nuevo" class="button">NUEVA ANALITICA</a>
  </header>
  <body>

  <router-outlet></router-outlet>

  </body>-->

  <router-outlet></router-outlet>
<!-- <header>
  <a routerLink="/analiticas" class="button">Ver Analiticas</a>
  <a routerLink="/analiticas/analiticas-form" class="button">Añadir nueva Analitica</a>
</header>
 -->
<body>
  <router-outlet></router-outlet>
<div class="content-ofertas">
  <div *ngFor="let oferta of todasOfertas">
    <app-oferta-item [oferta]="oferta" (ofertaEliminar)="onOfertaEliminar($event)"
      (ofertaSeleccionada)="verOferta($event)"></app-oferta-item>
  </div>
</div>
