<p>crear-oferta works!</p>
<body>
  <h3>CREAR OFERTAS</h3>
  <br/>


  <h4>DATOS DE NUEVA OFERTA</h4>
  <br/>
  <form #nuevaOfertaForm="ngForm" (ngSubmit)="onSubmit(nuevaOfertaForm)">

    <div class="form-group col-md-3">
      <label> SELECCIONE VIVIENDA </label>
      <select class="form-control"
        ngModel
        #vivienda="ngModel"
          name="vivienda"
          required
          [ngClass]="{
            'is-invalid': vivienda.invalid && (vivienda.dirty || vivienda.touched), 'is-valid': !vivienda.invalid }"

          >
        <option *ngFor="let vivienda of viviendas" value="{{vivienda.urlVivienda}}">
          <span>Provincia: {{ vivienda.provincia }}<br>
            Ciudad: {{ vivienda.ciudad }}<br>
            Direccion: {{ vivienda.direccion }}<br>
            Codigo Postal: {{ vivienda.codigoPostal }}<br>
            Superficie: {{ vivienda.superficie }}<br>
          </span>
        </option>
      </select>
      <div class="text-danger" *ngIf="vivienda.invalid && (vivienda.dirty || vivienda.touched)" >
        <div *ngIf="vivienda.errors?.['required']" >
          La vivienda es requerida
        </div>
      </div>
    </div>
    <div class="form-group col-md-3" *ngIf="type === 2">
      <section>
        <div class="form-group col-md-3">
          <label>TITULO OFERTA </label>
          <input type="text"
          class="form-control"
          placeholder="titulo de la oferta"
          ngModel
          #tituloOferta="ngModel"
          name="tituloOferta"
          required
          minlength="10"
          maxlength="100"
          [ngClass]="{
            'is-invalid': tituloOferta.invalid && (tituloOferta.dirty || tituloOferta.touched), 'is-valid': !tituloOferta.invalid }"
          />
          <div class="text-danger" *ngIf="tituloOferta.invalid && (tituloOferta.dirty || tituloOferta.touched)" >
            <div *ngIf="tituloOferta.errors?.['required']" >
              El titulo es requerido
            </div>
            <div *ngIf="tituloOferta.errors?.['minlength']">
              El titulo de la oferta debe de tener como minimo 10 caracteres
            </div>
            <div *ngIf="tituloOferta.errors?.['maxlength']">
              El titulo de la oferta debe de tener como maximo 100 caracteres
            </div>
          </div>
        </div>


        <div class="form-group col-md-3">
          <label for="precioDeVenta">PRECIO DE VENTA &nbsp; </label>
          <input type="number"
          class="form-control"
          name="precioDeVenta"
          ngModel
          #precioDeVenta="ngModel"
          placeholder="precio de venta €"
          required
          min="0.01"
          step="1000"
          [ngClass]="{
            'is-invalid': precioDeVenta.invalid && (precioDeVenta.dirty || precioDeVenta.touched), 'is-valid': !precioDeVenta.invalid }" />
            <div *ngIf="precioDeVenta.errors?.['required']">
              El precio de venta es requerido
            </div>
            <div *ngIf="precioDeVenta.errors?.['min']">
              El precio de venta debe de ser de al menos de 0.01€
            </div>
        </div>
      </section>
    </div>

    <div *ngIf="type === 1">



      <div class="form-group col-md-3">
          <label>TITULO OFERTA </label>
          <input type="text"
          class="form-control"
          placeholder="titulo de la oferta"
          ngModel
          #tituloOferta="ngModel"
          name="tituloOferta"
          required
          minlength="10"
          maxlength="100"
          [ngClass]="{
            'is-invalid': tituloOferta.invalid && (tituloOferta.dirty || tituloOferta.touched), 'is-valid': !tituloOferta.invalid }"
          />
          <div class="text-danger" *ngIf="tituloOferta.invalid && (tituloOferta.dirty || tituloOferta.touched)" >
            <div *ngIf="tituloOferta.errors?.['required']" >
              El titulo es requerido
            </div>
            <div *ngIf="tituloOferta.errors?.['minlength']">
              El titulo de la oferta debe de tener como minimo 10 caracteres
            </div>
            <div *ngIf="tituloOferta.errors?.['maxlength']">
              El titulo de la oferta debe de tener como maximo 100 caracteres
            </div>
          </div>
        </div>



      <div class="form-group col-md-3">
        <label>PRECIO ALQUILER MENSUAL</label>
        <input type="number"
        class="form-control"
        placeholder="Precio de alquiler €/mes"
        name="precioAlquilerMensual"
        ngModel
        #precioAlquilerMensual="ngModel"
        placeholder="precio de de alquiler €/mes"
        required
        min="0.01"
        step="25"
        [ngClass]="{
          'is-invalid': precioAlquilerMensual.invalid && (precioAlquilerMensual.dirty || precioAlquilerMensual.touched), 'is-valid': !precioAlquilerMensual.invalid }"
        />
        <div class="text-danger" *ngIf="precioAlquilerMensual.invalid && (precioAlquilerMensual.dirty || precioAlquilerMensual.touched)" >
          <div *ngIf="precioAlquilerMensual.errors?.['required']">
            El precio de alquiler mensual es requerido
          </div>
          <div *ngIf="precioAlquilerMensual.errors?.['min']">
            El precio de alquiler debe de ser de al menos de 0.01€/mes
          </div>
        </div>
      </div>



      <div class="form-group col-md-3">
        <label>MESES FIANZA</label>
        <input type="number"
        class="form-control"
        placeholder="meses fianza"
        name="mesesFianza"
        ngModel
        #mesesFianza="ngModel"
        placeholder="meses de fianza"
        required
        min="0"
        [ngClass]="{
          'is-invalid': mesesFianza.invalid && (mesesFianza.dirty || mesesFianza.touched), 'is-valid': !mesesFianza.invalid }"
        />
        <div class="text-danger" *ngIf="mesesFianza.invalid && (mesesFianza.dirty || mesesFianza.touched)" >
          <div *ngIf="mesesFianza.errors?.['required']">
            Los meses de fianza es un campo requerido
          </div>
          <div *ngIf="mesesFianza.errors?.['min']">
            Los meses de fianza no pueden ser negativos
          </div>
        </div>
      </div>

    </div>

    <section #botones>
      <button type="reset" class="btn btn-danger">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" [disabled]="!nuevaOfertaForm.valid" class="btn btn-primary">Aceptar</button>
    </section>
  </form>
  <!-- venta:{{nuevaOfertaForm && nuevaOfertaForm.value.type == 2}}
  Alquiler:{{nuevaOfertaForm && nuevaOfertaForm.value.type == 1}} -->

</body>
