<p>oferta-item works!</p>
<div class="row col-12  pt-4 border-top border-danger" [ngClass]="{alquiler: oferta.tipo===1, venta:oferta.tipo===2}" (ngSubmit)="onSubmit()">

  <div class="col-12">
    TITULO: {{ oferta.tituloOferta }}
  </div>
  <div class="col-12" *ngIf="oferta.tipo ===1">
    PRECIO ALQUILER MENSUAL: {{oferta.precioAlquilerMensual}} €/mes
    <br>
    MESES FIANZA: {{oferta.mesesFianza}} meses
  </div>
  <div class="col-12" *ngIf="oferta.tipo ===2">
    PRECIO: {{oferta.precioDeVenta}} €
  </div>

</div>
<section>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="modificarOferta(oferta) ">
    &nbsp;<fa-icon class=" icono-fontawesome fa-2x" [icon]="modificar"></fa-icon>&nbsp;
  </a>


  <a   type="button" (click)="borrarOferta(oferta.idOferta)">
    &nbsp;&nbsp;
    <fa-icon class=" icono-fontawesome fa-2x" [icon]="trash"></fa-icon>
    &nbsp;
  </a>
</section>

  <!-- routerLink="/oferta/edicion-ofertas/{{oferta.idOferta}}/{{oferta.tipo}}" -->


  <!-- ofertaSeleccionada.emit(oferta)  -->
