<body>
  <div class="container-fluid">
    <section class="notFound container-fluid">
        <div class="img container-fluid">
        <img src="../../../assets/img/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="../../../assets/img/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text container-fluid">
        <h1>404</h1>
        <h2>PAGINA NO ENCONTRADA</h2>
        <h3>¿VOLVER AL INICIO?</h3>
        <a routerLink="" class="yes">SI</a>
        <a href="https://www.google.es/">NO</a>
        </div>
    </section>
  </div>
</body>
