<header>
  <br>

  &nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;

  <a routerLink="/viviendas" class="btn btn-warning">Ver Viviendas</a>
  <br>

</header>

<main>
  <!--Sección escrito encima del formulario -->
  <section id="PreFormulario">
    <br>
    <h3>Formulario de Nueva Vivienda</h3>
    <br>
    <p> Rellene el formulario con los datos solicitados</p>
    <br>
  </section>
  <!--Sección del formulario -->
  <section>
    <form   id="formulario" class="col-md-6" (ngSubmit)="onSubmit()" #viviendaForm="ngForm">
      <!--Propieratio -->
      <div class="form-group col-md-4">
        <label for="inputPropietario">PROPIETARIO</label>
        <input type="text"
        [(ngModel)]="vivienda.propietario"
        class="form-control"
        id="imputPropietario"
        placeholder="propietario"
        name="propietario"
        required minlength="3"
        maxlength="45"
        #propietario="ngModel"
        [ngClass]="{
        'is-invalid': propietario.invalid && (propietario.dirty || propietario.touched), 'is-valid': !propietario.invalid }"/>
        <div class="text-danger" *ngIf="propietario.invalid && (propietario.dirty || propietario.touched)" >
          <div *ngIf="propietario.errors?.['required']">
            El propietario es obligatorio
          </div>
          <div *ngIf="propietario.errors?.['minlength'|| 'maxlength']">
            El propietario debe tener al menos 3 caracteres (SUS INICIALES EN CASO DE ANONIMIZACION) y maximo 35
          </div>
        </div>
      </div>
        <!--Provincia -->
        <div class="form-group col-md-8">
          <label for="imputProvincia">PROVINCIA
          </label>
            <select type="text" [(ngModel)]="vivienda.provincia" class="form-control" id="inputProvincia" placeholder="provincia"
          name="provincia"
          required
          minlength="5"
          maxlength ='100'
          #provincia="ngModel"
          [ngClass]="{
          'is-invalid': provincia.invalid && (provincia.dirty || provincia.touched),
          'is-valid': !provincia.invalid
          }">
            <option value="">Elige Provincia</option>
            <option value="Álava/Araba">Álava/Araba</option>
            <option value="Albacete">Albacete</option>
            <option value="Alicante">Alicante</option>
            <option value="Almería">Almería</option>
            <option value="Asturias">Asturias</option>
            <option value="Ávila">Ávila</option>
            <option value="Badajoz">Badajoz</option>
            <option value="Baleares">Baleares</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Burgos">Burgos</option>
            <option value="Cáceres">Cáceres</option>
            <option value="Cádiz">Cádiz</option>
            <option value="Cantabria">Cantabria</option>
            <option value="Castellón">Castellón</option>
            <option value="Ceuta">Ceuta</option>
            <option value="Ciudad Real">Ciudad Real</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Cuenca">Cuenca</option>
            <option value="Gerona/Girona">Gerona/Girona</option>
            <option value="Granada">Granada</option>
            <option value="Guadalajara">Guadalajara</option>
            <option value="Guipúzcoa/Gipuzkoa">Guipúzcoa/Gipuzkoa</option>
            <option value="Huelva">Huelva</option>
            <option value="Huesca">Huesca</option>
            <option value="Jaén">Jaén</option>
            <option value="La Coruña/A Coruña">La Coruña/A Coruña</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Las Palmas">Las Palmas</option>
            <option value="León">León</option>
            <option value="Lérida/Lleida">Lérida/Lleida</option>
            <option value="Lugo">Lugo</option>
            <option value="Madrid">Madrid</option>
            <option value="Málaga">Málaga</option>
            <option value="Melilla">Melilla</option>
            <option value="Murcia">Murcia</option>
            <option value="Navarra">Navarra</option>
            <option value="Orense/Ourense">Orense/Ourense</option>
            <option value="Palencia">Palencia</option>
            <option value="Pontevedra">Pontevedra</option>
            <option value="Salamanca">Salamanca</option>
            <option value="Segovia">Segovia</option>
            <option value="Sevilla">Sevilla</option>
            <option value="Soria">Soria</option>
            <option value="Tarragona">Tarragona</option>
            <option value="Tenerife">Tenerife</option>
            <option value="Teruel">Teruel</option>
            <option value="Toledo">Toledo</option>
            <option value="Valencia">Valencia</option>
            <option value="Valladolid">Valladolid</option>
            <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
            <option value="Zamora">Zamora</option>
            <option value="Zaragoza">Zaragoza</option>
          </select>
          <div
          class="text-danger"
          *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)">
            <div *ngIf="provincia.errors?.['required']">
              La provincia es obligatoria
            </div>
            <div *ngIf="provincia.errors?.['minlength' || 'maxlength']">
              Seleccione una provincia del listado
            </div>
          </div>
        </div>
      <!--Ciudad -->
      <div class="form-group">
        <label for="inputCiudad">
          CIUDAD
        </label>
        <input type="text" [(ngModel)]="vivienda.ciudad" class="form-control" id="inputCiudad" placeholder="ciudad"
        name="ciudad"
        required
        minlength="2"
        maxlength ='44'
        #ciudad="ngModel"
        [ngClass]="{
          'is-invalid': ciudad.invalid && (ciudad.dirty || ciudad.touched),
          'is-valid': !ciudad.invalid
          }"
        />
        <div class="text-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
          <div *ngIf="ciudad.errors?.['required']">
            El Nombre de la ciudad es obligatorio
          </div>
          <div *ngIf="ciudad.errors?.['minlength']">
            El Nombre de la ciudad debe tener al menos 2 caracteres
          </div>
        </div>
      </div>
      <!--Direccion -->
      <div class="form-group">
        <label for="inputDireccion">
          DIRECCION
        </label>
        <input type="text" [(ngModel)]="vivienda.direccion" class="form-control" id="inputDireccion" placeholder="direccion"
        name="direccion"
        required
        minlength="2"
        maxlength ='100'
        #direccion="ngModel"
        [ngClass]="{
          'is-invalid': direccion.invalid && (direccion.dirty || direccion.touched),
          'is-valid': !direccion.invalid
          }"
        />
        <div class="text-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
          <div *ngIf="direccion.errors?.['required']">
            El Nombre de la direccion es obligatorio
          </div>
          <div *ngIf="direccion.errors?.['minlength']">
            El Nombre de la direccion debe tener al menos 2 caracteres
          </div>
        </div>
      </div>
      <!--CP-->
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputCodigoPostal">CODIGO POSTAL
          </label>
          <input type="number" [(ngModel)]="vivienda.codigoPostal" class="form-control" id="inputCodigoPostal" placeholder="codigo postal"
          name="codigoPostal"
          required
          min="00001"
          minlength="5"
          maxlength='5'
          max="52006"
          #codigoPostal="ngModel"
          [ngClass]="{
          'is-invalid': codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched),
          'is-valid': !codigoPostal.invalid
          }"
          />
          <div class="text-danger" *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)" >
            <div *ngIf="codigoPostal.errors?.['required']">
              El Codigo Postal es obligatorio
            </div>
            <div *ngIf="codigoPostal.errors?.['minlength']">
              El codigo postal es un numero de 5 cifras entre 00001 y 52006
            </div>
          </div>
        </div>
      </div>
      <!--Ref Catastral -->
      <div class="form-group">
        <label for="inputReferenciaCatastral">
          REF. CATASTRAL
        </label>
        <input type="text" [(ngModel)]="vivienda.idReferenciaCatastral" class="form-control" id="inputReferenciaCatastral" placeholder="referenciaCatastral"
        name="referenciaCatastral"
        required
        minlength="2"
        maxlength ='100'
        #referenciaCatastral="ngModel"
        [ngClass]="{
          'is-invalid': referenciaCatastral.invalid && (referenciaCatastral.dirty || referenciaCatastral.touched),
          'is-valid': !referenciaCatastral.invalid
          }"
        />
        <div class="text-danger" *ngIf="referenciaCatastral.invalid && (referenciaCatastral.dirty || referenciaCatastral.touched)">
          <div *ngIf="referenciaCatastral.errors?.['required']">
            La referencia catastral de la vivienda es obligatoria
          </div>
          <div *ngIf="referenciaCatastral.errors?.['minlength']">
            La referencia catastral debe tener al menos 2 caracteres
          </div>
        </div>
      </div>
      <!--SUPERFICIE-->
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputSuperficie">SUPERFICIE
          </label>
          <input type="number" [(ngModel)]="vivienda.superficie" class="form-control" id="inputSuperficie" placeholder="superficie"
          name="superficie"
          required
          min="1"
          minlength="1"
          maxlength='100'
          #superficie="ngModel"
          [ngClass]="{
          'is-invalid': superficie.invalid && (superficie.dirty || superficie.touched),
          'is-valid': !superficie.invalid
          }"
          />
          <div class="text-danger" *ngIf="superficie.invalid && (superficie.dirty || superficie.touched)" >
            <div *ngIf="superficie.errors?.['required']">
              La superficie es obligatoria
            </div>
            <div *ngIf="superficie.errors?.['minlength']">
             La superficie no puede ser negativa
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputHabitaciones">HABITACIONES
          </label>
          <input type="number"
          [(ngModel)]="vivienda.habitaciones"
          class="form-control"
          id="inputHabitaciones"
          placeholder="n. de habitaciones"
          name="habitaciones"
          required
          min="0"
          #habitaciones="ngModel"
          [ngClass]="{
          'is-invalid': habitaciones.invalid && (habitaciones.dirty || habitaciones.touched),
          'is-valid': !habitaciones.invalid
          }"
          />
          <div class="text-danger" *ngIf="habitaciones.invalid && (habitaciones.dirty || habitaciones.touched)" >
            <div *ngIf="habitaciones.errors?.['required']">
              Las habitaciones es obligatoria
            </div>
            <div *ngIf="habitaciones.errors?.['min']">
              El numero de habitaciones no puede ser negativo
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="inputBanyos">BAÑOS
          </label>
          <input type="number"
          [(ngModel)]="vivienda.banyos"
          class="form-control"
          id="inputBanyos"
          placeholder="n. de baños"
          name="banyos"
          required
          min="0"
          #banyos="ngModel"
          [ngClass]="{
          'is-invalid': banyos.invalid && (banyos.dirty || banyos.touched),
          'is-valid': !banyos.invalid
          }"
          />
          <div class="text-danger" *ngIf="banyos.invalid && (banyos.dirty || banyos.touched)" >
            <div *ngIf="habitaciones.errors?.['required']">
              Los baños es obligatorio
            </div>
            <div *ngIf="habitaciones.errors?.['min']">
              El numero de baños no puede ser negativo
            </div>
          </div>
        </div>
      </div>






<br>
    <!--Botones -->
    <button type="reset" class="btn btn-danger ">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" [disabled]="!viviendaForm.valid"   class="btn btn-primary">Aceptar</button>
<br>
</form>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;&nbsp;

<a routerLink="/viviendas" class="btn btn-warning">Ver Viviendas</a>
  <br>
  </section>
</main>
