<main class="main-index">
  <!--Hasta aqui es común en todas las páginas solo poner inactivo lo que no sea necesario-->
  <!--Creo un header para esta pagina, he usado un tipo de fuente distinta a la normal, descargandola en local y usando css-->
  <div class="intro-index container-fluid">
    <h1>Inmo Guanche CRM</h1>
    <p>Bienvenidos a la web de INMOGUANCHE CRM, en ella podrás buscar viviendas para alquilar, vender o irte de vacaciones con tu familiares o amigos.</p>
    <p>En esta web podrás cambiar el vivir en una gran ciudad y pasarte al vivir en contacto con la naturaleza teniendo acceso a la ciudad siempre que quieras. Desconecta del mundo y disfruta de la naturaleza.</p>
    <p>También podrás publicar tu casa en caso de que la quieras vender alquilar o alquilar para vacaciones.</p>
    <div class="row text-center countainer-fluid column-fill ">
      <!--Grid column-->
      <div class="col-12 countainer-fluid">
        <div class="boton-viviendas text-center center ">
          <a routerLink="viviendas">
            <button type="button" class="boton-publicar-casa-texto btn btn-secondary btn-md">
            Viviendas
            </button>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6 mb-4 mb-lg-3 countainer-fluid">
        <div class="boton-ofertas text-center center">
          <a routerLink="ofertas">
            <button type="button" class="boton-publicar-casa-texto btn btn-secondary btn-md">
            Ofertas
            </button>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</main>
