<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light countainer-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../../../assets/img/ms-icon.png" width="45" height="45" alt="">
    </a>
    <a class="navbar-brand" routerLink="">InmoGuanche CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="viviendas">Viviendas</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="ofertas">Ofertas</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="ofertas">Busqueda Alquiler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ofertas">Busqueda Venta</a> -->
        <!-- </li> -->
      </ul>

    </div>
  </nav>
</header>










    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Aplicación
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="viviendas">Viviendas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="ofertas">Ofertas</a>
          </div>
        </li>
      </ul>
    </div> -->
